.tree-vis {
  display: flex;
  flex-direction: column;
}

.tree-vis-level {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: black;
}

.tree-vis-node {
  padding: 2px;
  flex-basis: 100%;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: black;
}

.level-colour-yellow {
  background-color: yellow;
  opacity: 0.8;
}

.level-colour-red {
  background-color: red;
  opacity: 0.8;
}

.clicked {
  opacity: 1;
}
