.game-board-row {
  display: flex;
  flex-direction: row;
}

.game-board-column {
  display: flex;
  flex-direction: column-reverse;
}

.game-board-column:last-child {
  border-top-right-radius: 100px;
}

.game-board {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
  margin-top: 0px;
  /* border: 2px solid black; */
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.tile {
  width: 70px;
  height: 70px;
}

.tile span {
  position: relative;
  top: 30%;
  font-weight: bold;
  /* right: 50%; */
}

.highlight-partial {
  opacity: 50%;
}
