.win-chance {
  text-align: left;
  /* border: 2px solid black; */
  margin-top: 10px;
  border-radius: var(--border-radius);
  padding-top: 10px;
}

.win-chance-section {
  margin-bottom: 15px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 10px;
  background-color: white;
}

.win-chance-label {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--primary-dark);
  position: relative;
  padding-bottom: 8px;
}

.win-chance-label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 40px;
  background-color: var(--secondary);
  border-radius: 3px;
}

.player-win-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.player-win-info > .name {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
}

.player-win-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.player-win-info > .win-percent {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
  padding-left: 10px;
}

/* .player-win-info.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid var(--secondary); 
} 
*/

.player-win-info.active {
  color: white;
  background-color: var(--primary-dark);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.loader {
  width: 40px;
  aspect-ratio: 4.5;
  margin-left: 10px;
}
.loader.active {
  --_g: no-repeat radial-gradient(circle closest-side, #000 80%, #0000);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(var(--loader-width-percent) / 3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
  33% {
    background-size:
      calc(var(--loader-width-percent) / 3) 0%,
      calc(var(--loader-width-percent) / 3) 100%,
      calc(var(--loader-width-percent) / 3) 100%;
  }
  50% {
    background-size:
      calc(var(--loader-width-percent) / 3) 100%,
      calc(var(--loader-width-percent) / 3) 0%,
      calc(var(--loader-width-percent) / 3) 100%;
  }
  66% {
    background-size:
      calc(var(--loader-width-percent) / 3) 100%,
      calc(var(--loader-width-percent) / 3) 100%,
      calc(var(--loader-width-percent) / 3) 0%;
  }
}
