# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# rough-work
/public/line1.svg
shade-narrow-watch-2024-03-31_193132.tgz
/glitch-connect4-app/
localhost-1724677141576.log
Screenshot 2024-08-30 014850.jpg

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
